.container__meaning {
    background-color: deepskyblue;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .main {
        font-weight: 300;
        margin: 0;
        padding: 0;
        line-height: 0;
        vertical-align: center;
}

.stop {
    color: red;
    font-size: 40px;
    font-weight: 600;
}