button{
    font-size: 18px;
    background-color: deepskyblue;
    border-radius: 5px;
    padding: 0 10px 0;
    cursor: pointer;
    border: none;
}
.stopBut{
    box-shadow: none;
    transform: scale(0.95);
}
.go{
    box-shadow: 5px 2px 3px black;
    }
    .go:active{
        box-shadow: none;
        transform: scale(0.95);
}
    .defaultInp{
        background-color: #131a3d;
    }