.App {
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    margin: 10% auto;
    font-size: 18px;
}
.block{
    width: 250px;
    height: 134px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border: 2px solid deepskyblue;
    border-radius: 10px;
    }
    .block__container{
        display: flex;
        justify-content: space-around;
        border: 2px solid deepskyblue;
        margin: 10px 0 0 0;
        padding: 10px 0 10px;
}

.block__screen{
    border: 2px solid deepskyblue;
    padding: 10px;
    height: 76px;
    box-sizing: border-box;
}

@media (max-width: 634px) {
    .App {
        max-width: 700px;
        display: flex;
        flex-direction: column-reverse;
        margin: 10% auto;
        font-size: 18px;
    }
    .block{
        margin: 20px auto 0;
    }
}
.counterSwitching{
    margin: 20px 0 0 50px;
}